<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)" GeneratedClassNamespace="PharmacyAssistant.Properties" GeneratedClassName="Settings">
  <Profiles />
  <Settings>
    <Setting Name="DataConnectionString" Type="(Connection string)" Scope="Application">
      <DesignTimeValue Profile="(Default)">&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_925925_savemor;User ID=REDACTED;Password=REDACTED;&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</DesignTimeValue>
      <Value Profile="(Default)">Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_925925_savemor;User ID=REDACTED;Password=REDACTED;</Value>
    </Setting>
    <Setting Name="FTPUsername" Type="System.String" Scope="User">
      <Value Profile="(Default)">REDACTED</Value>
    </Setting>
    <Setting Name="FTPPassword" Type="System.String" Scope="User">
      <Value Profile="(Default)">REDACTED</Value>
    </Setting>
    <Setting Name="FTPHost" Type="System.String" Scope="User">
      <Value Profile="(Default)">REDACTED.example</Value>
    </Setting>
    <Setting Name="DataPageSize" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">200</Value>
    </Setting>
    <Setting Name="AlwaysDownloadImages" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="SearchBrandName" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="SearchCategoryName" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="SearchConditionName" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="SearchProductDescription" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="SearchProductName" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="SearchProductUPI" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="SearchIngredientName" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="SearchScheduleName" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="ProductDetailSize" Type="System.Drawing.Point" Scope="User">
      <Value Profile="(Default)">915, 695</Value>
    </Setting>
    <Setting Name="ProductDetailPosition" Type="System.Drawing.Point" Scope="User">
      <Value Profile="(Default)">0, 0</Value>
    </Setting>
    <Setting Name="ProductDetailFormPanel2Width" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">0</Value>
    </Setting>
    <Setting Name="SaveConditionsAgainstActiveIngredientOnly" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="DevDataConnection" Type="System.String" Scope="User">
      <Value Profile="(Default)">Data Source=localhost\sqlexpress;Initial Catalog=SQL2012_925925_savemor;User ID=REDACTED;Password=REDACTED;</Value>
    </Setting>
    <Setting Name="CoreProductsOnly" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="EnableRecordPaging" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="RPMConnectionString" Type="System.String" Scope="Application">
      <Value Profile="(Default)">Data Source=VADERCONSULTING\SQLEXPRESS;Initial Catalog=RPM;User ID=REDACTED;Password=REDACTED;</Value>
    </Setting>
    <Setting Name="AutoSearch" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="AutoSearchIntervalSeconds" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">2</Value>
    </Setting>
    <Setting Name="MultiDocumentInterface" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="RememberUsername" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="LastUsername" Type="System.String" Scope="User">
      <Value Profile="(Default)" />
    </Setting>
    <Setting Name="FullAudit" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="EventDuration" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">1</Value>
    </Setting>
    <Setting Name="EventWarningPeriod" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">14</Value>
    </Setting>
    <Setting Name="SearchColourThemeNumber" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">8</Value>
    </Setting>
    <Setting Name="UpgradeRequired" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="ShowLinkedItemCount" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="TaskWarningPeriod" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">14</Value>
    </Setting>
    <Setting Name="ToolbarInterface" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="EnableSpellCheck" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="MainFormSize" Type="System.Drawing.Point" Scope="User">
      <Value Profile="(Default)">1366, 667</Value>
    </Setting>
    <Setting Name="MainFormPosition" Type="System.Drawing.Point" Scope="User">
      <Value Profile="(Default)">0, 0</Value>
    </Setting>
    <Setting Name="SearchFormSize" Type="System.Drawing.Point" Scope="User">
      <Value Profile="(Default)">1289, 556</Value>
    </Setting>
    <Setting Name="SearchFormPosition" Type="System.Drawing.Point" Scope="User">
      <Value Profile="(Default)">0, 0</Value>
    </Setting>
    <Setting Name="SingleDocumentInterface" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
    <Setting Name="ToolbarOnTop" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">True</Value>
    </Setting>
    <Setting Name="TaskDisplayPeriod" Type="System.Int32" Scope="User">
      <Value Profile="(Default)">30</Value>
    </Setting>
    <Setting Name="ShowCompletedTasks" Type="System.Boolean" Scope="User">
      <Value Profile="(Default)">False</Value>
    </Setting>
  </Settings>
</SettingsFile>