<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPM_Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RPM_Import.Properties.Settings>
            <setting name="SourceConnectionString" serializeAs="String">
                <value>Data Source=headoffice\corumhs;Initial Catalog=RPM;User ID=REDACTED;Password=REDACTED;</value>
            </setting>
            <setting name="SourceDevConnectionString" serializeAs="String">
                <value>Data Source=t3400-8;Initial Catalog=RPM;User ID=REDACTED;Password=REDACTED;</value>
            </setting>
            <setting name="DestinationConnectionString" serializeAs="String">
                <value>Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_925925_savemor;User ID=REDACTED;Password=REDACTED;</value>
            </setting>
            <setting name="DestinationDevConnectionString" serializeAs="String">
                <value>Data Source=vaderconsulting\sqlexpress;Initial Catalog=SQL2012_925925_savemor;User ID=REDACTED;Password=REDACTED;</value>
            </setting>
            <setting name="ImportQuery" serializeAs="String">
                <value>SELECT DISTINCT 
    pp.ProductID, 
    CAST(ISNULL(pp.Retail,0) AS float) / 100 AS Price, 
    ISNULL(p.CosmosUPI,0) AS UPI, 
    ISNULL(p.Description,'') AS Name, 
    CAST(ISNULL(p.Deleted,0) AS bit) As Deleted 
FROM Product p 
INNER JOIN [dbo].[ProductPricing] pp ON p.ProductID = pp.ProductID 
LEFT JOIN StoreProducts s ON s.ProductID = p.ProductID 
WHERE pp.active = 1 AND pp.zoneid = 17 AND s.SOH &gt;0</value>
            </setting>
        </RPM_Import.Properties.Settings>
    </userSettings>
</configuration>